.page {
    text-align: right;
    margin: 20px;
    padding-right: 10px;
    a {
        padding: 3px;
    }
}

.logo {
    text-align: center;
    padding-top: 50px;              ;
}

.logo-adv {
    width: 140px;
    height: auto;
}

.field {
    width: 36%;
    margin-left: 32%;
    margin-right: 32%;
    
}

.button {
    padding-top: 25px;
}

form {
    padding-top: 30px;
    text-align: center;
}

#logotext {
    color: #4285F4;
    margin-left: 22.5%;
    margin-top: -40px;
    font-size:130%;
}

#stuff {
    padding-left: 30px;
    h4 {
        color: #D93025;
        margin-top: 20px;
        font-family: Arial, sans-serif;
        font-size: 20px;
        }
    div{
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
}

#border {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.1px solid rgb(111, 111, 111);
    opacity: 25%; 
}

#body-adv {
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    #logo-and-links {
        display: grid;
        grid-template-columns: auto;
    }
}

#adv-form{
    h6 {
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: left;
    }
    div {
        @media (min-width: 950px) {
            display: grid;
            grid-template-columns: 200px 300px 300px;
            text-align: left;
        }

        @media (max-width: 949px) {
            display: grid;
            grid-template-columns: 20% 40% auto;
            text-align: left;
        }
        p {
            font-family: Arial, sans-serif;
        }
    }
}

.textfields {
    padding-right: 20px;
    max-width: 250px;

}

.left {
    font-size: 13px;
    color: #222222;
}

.right {
    font-size: 11px;
    color: #666666;
    padding-left: 20px;
    padding-top: 10px;
}