.page {
    text-align: right;
    margin: 20px;
    padding-right: 10px;
    a {
        padding: 3px;
    }
}

.logo {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.field {
    text-align: center;
    padding-left: 550px;
    padding-right: 550px;
}

.button {
    padding-top: 20px;
}

form {
    text-align: center;
}


/*
class- logo, page(links), field(query field), button(search, lucky)
*/