.page {
    text-align: right;
    margin: 20px;
    padding-right: 10px;
    a {
        padding: 3px;
    }
}

.logo {
    text-align: center;
    padding-top: 50px;              ;
}

.logo-adv {
    width: 10%;
    height: auto;
}

.field {
    width: 36%;
    margin-left: 32%;
    margin-right: 32%;
    
}

.button {
    padding-top: 25px;
}

form {
    padding-top: 30px;
    text-align: center;
}

#logotext {
    color: #4285F4;
    margin-left: 22.5%;
    margin-top: -40px;
    font-size:130%;
}

div {
h4 {
    color: #D93025;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding-left: 30px;
    }
}

#border {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.1px solid rgb(111, 111, 111);
    opacity: 25%;   
}

#body-adv {
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    #logo-and-links {
        display: inline-flexbox;
        .pages{
                text-align: right;
                margin: 20px;
                padding-right: 10px;
                a {
                    padding: 3px;
                }            
        }
    }
}

/*
class- logo, page(links), field(query field), button(search, lucky)
*/